# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Logs
logs/

# Testing
.pytest_cache/

# Environments
.env

# Editor
.vscode/
.idea/

# Build
dist/
build/
*.egg-info/

# UV
.uv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Others
.mypy_cache/
.DS_Store
*.swp
*.bak
